<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>fire</string>
		<key>type</key>
		<string>Fire</string>
		<key>pokemon</key>
		<array>
			<string>Cyndaquil</string>
			<string>Charmander</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>water</string>
		<key>type</key>
		<string>Water</string>
		<key>pokemon</key>
		<array>
			<string>Piplup</string>
			<string>Buizel</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>grass</string>
		<key>type</key>
		<string>Grass</string>
		<key>pokemon</key>
		<array>
			<string>Turtwig</string>
			<string>Rowlet</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>fairy</string>
		<key>type</key>
		<string>Fairy</string>
		<key>pokemon</key>
		<array>
			<string>Clefairy</string>
			<string>Ralts</string>
		</array>
	</dict>
</array>
</plist>
